@import '/src/styles/media-queries';

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px 50px;

  @include for(Tablet) {
    padding: 15px;
  }

  @include for(Phone) {
    padding: 10px;
  }
}
