// colors
$background-color: #e7e7e7;
$primary-color: #000;
$secondary-color: #fff;

// typography
$font-primary: inter, system-ui, avenir, helvetica, arial, sans-serif;
$weight-regular: 400;
$weight-bolder: 500;
$weight-bold: 800;
$base-letter-spacing: -0.7px;
$base-font-size: 20px;
$base-line-height: 1.5;
