@use 'sass:color';
@import '/src/styles/variables';

.button {
  color: $secondary-color;
  background: transparent;
  font-size: 1.1rem;
  font-weight: $weight-bolder;
  border: 1px solid rgba($secondary-color, 0.5);
  border-radius: 30px;
  padding: 0.5rem 1.4rem;

  &:disabled {
    background-color: rgba($primary-color, 0.3);
    color: color.adjust($background-color, $lightness: -40%);
  }

  &:hover:not(&--favourite) {
    background-color: rgba($secondary-color, 0.2);
    border: 1px solid transparent;
    transition: 0.2s;
  }

  &--favourite {
    background-color: $primary-color;
    color: $secondary-color;
    border: 1px solid transparent;
    transition: 0.2s;

    &:hover {
      background-color: rgba($primary-color, 0.5);
      border: 1px solid transparent;
    }
  }
}
