@import '/src/styles/variables';

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  justify-items: center;
}

.card {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 3px 3px darken($background-color, 15%);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

button {
  background-color: yellow;
}

.favourite {
  background-color: green;
}
